name: Exercise_2

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  trivy-scan:
    name: Run Trivy Security Scan
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Install Trivy
        run: |
          wget https://github.com/aquasecurity/trivy/releases/download/v0.18.3/trivy_0.18.3_Linux-64bit.deb
          sudo dpkg -i trivy_0.18.3_Linux-64bit.deb

      - name: Build Docker image
        run: docker build -t my-app:pr-scan .

      - name: Scan Docker image for vulnerabilities
        run: |
          trivy image my-app:pr-scan \
            --exit-code 1 \
            --severity HIGH,CRITICAL \
            --no-progress
